{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card mt-2" style="width: 50rem;">
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 text-center text-danger">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="mb-3 font-weight-normal card-title text-center">Connectez vous !!</h1>
                    <label class="card-subtitle mb-2 text-muted" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required
                           autofocus>
                    <label class="card-subtitle mb-2 mt-2 text-muted" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <div class="text-center mt-5" >
                        <button class="btn btn-lg btn-dark " style="width: 20rem;" type="submit">
                            Connexion
                        </button>
                        <a class="btn btn-lg btn-dark " style="width: 20rem;" href="{{ path('app_register') }}" role="button">Inscription</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
