{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 50rem" ;>
            <div class="card-body">
    <h1 class="card-title text-center">Register</h1>

    {{ form_start(registrationForm) }}
                <div class="card-subtitle mb-2 text-muted text-center">
        {{ form_row(registrationForm.email) }}
                </div>
                <div class="card-subtitle mb-2 text-muted text-center">
        {{ form_row(registrationForm.plainPassword) }}
                </div>
                    <div class="card-subtitle mb-2 text-muted text-center">
        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                <div class="text-center" >
        <button class="btn btn-lg btn-dark mt-2">Register</button>
                </div>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
