{% extends 'base.html.twig' %}

{% block title %}Create Auteur!{% endblock %}

{% block content %}
   {% form_theme auteurForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(auteurForm) }}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 25rem" ;>
            <div>
                {{ form_errors(auteurForm) }}
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Crée un Auteur</h5>
                <div class="col card-subtitle mb-2 text-muted">
                    {{ form_row(auteurForm.firstname) }}
                </div>
                <div class="col card-subtitle mb-2 text-muted">
                    {{ form_row(auteurForm.lastname) }}
                </div>
                <div class="col text-center">
                    {{ form_row(auteurForm.Valider) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(auteurForm) }}

{% endblock %}
